* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: url(https://images.unsplash.com/photo-1620121684840-edffcfc4b878?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: 10px 30px 28px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  color: white;
  box-shadow: 0px 0px 8px 4px rgba(255, 255, 255, 0.75);
  transition: 0.6s;
}

.wrapper:hover {
  backdrop-filter: blur(0px);
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.75);
}

.wrapper img {
  max-width: 103px;
}

.wrapper h1 {
  font-size: 38px;
  font-weight: 500;
  margin: 1vh 0 4vh 0;
}

.content {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.column {
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  margin: 0 3vh;
  background-color: rgba(0, 0, 0, 0.457);
}

.column select {
  width: max-content;
  height: 53px;
  border: none;
  outline: none;
  background: none;
  font-size: 19px;
  color: white;
  background-color: rgba(0, 0, 0, 0.457);
}
.wrapper button {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 4vh;
  padding: 17px 0;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #C0335D;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.75);
  color: white;
  transition: 0.6s;
}

.wrapper button:hover {
  background: rgba(0, 0, 0, 0.573);
  color: white;
  border: 2px solid white;
  font-family: "Comic Neue", cursive;
  font-weight: 300;
}

.alarm-list-section {
  margin-top: 2vh;
  width: max-content;
  text-align: center;
}

.alarm-list-section ul {
  list-style-type: none;
  padding: 0;
}

.alarm-list-section li {
  padding: 5px 10px;
  border-bottom: 1px solid black;
  margin-bottom: 1vh;
  color: black;
  font-size: 4vh;
  transition: 0.6s;
}

.alarm-list-section li:hover {
  background-color: rgba(0, 0, 0, 0.374);
  color: white;
  border-bottom: 1px solid white;
}
#alarm-ringing {
  position: absolute;
  top: 0%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  display:none;
}

#alarm-ringing img{
  cursor: pointer;
}